/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*----- Common -----*/
body {
  font-family: "Mplus 1p", 'Niconne', cursive, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
nav ul a,
nav .brand-logo {
  color: #fff;
}
nav ul a {
  font-size: .9rem;
}
nav ul a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
nav .button-collapse {
  margin: 0;
}
.brand-logo {
  font-family: 'Niconne', "Mplus 1p", cursive;
}
nav {
  box-shadow: none;
}
h1 {
  font-size: 3rem;
}
p {
  line-height: 2rem;
}
.adjusty-text {
  color: #08233E !important;
}
.btn {
  text-transform: none;
  z-index: 0;
}
.button-collapse {
  color: #fff;
}
.parallax-container {
  min-height: 600px;
  line-height: 0;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container {
    min-height: 550px;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 10%;
  }
}
textarea.materialize-textarea {
  line-height: 1.5;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #fff;
}
footer.page-footer .footer-copyright {
  background-color: #08233E;
}
footer.page-footer ul, footer.page-footer li {
  padding: 5px 0;
}
.page-footer .btn-lp {
  margin: 5px auto;
}
.undisabled {
  color: #000;
}
nav.adjusty-nav {
  background-color: #08233E;
}
.adjusty-nav .dropdown-button img {
  height: 34px;
  width: 34px;
  vertical-align: middle;
  background-color: #fff;
}
.adjusty-nav .dropdown-button i.right {
  margin-left: 5px;
}
.adjusty-nav .dropdown-content {
  min-width: 120px;
}
/*nav i.material-icons {
  font-size: 32px;
}*/
ul#dropdown1 {
  top: 64px !important;
}
ul#dropdown1 li > a {
  color: #333;
  font-size: .9rem;
}
#notification-icon, #friend-icon {
  font-size: 18px;
}
#info-icon {
  font-size: 20px;
}
ul#dropdown2 {
  position: absolute;
  background: #fff;
  margin-top: 0;
  border: 1px solid #D9DEE4;
  -webkit-box-shadow: none;
  right: 0;
  left: auto;
  width: 300px !important;
  top: 64px !important;
}
nav ul#dropdown2 li:hover {
  background-color: #f5f5f5;
}
nav ul#dropdown2 a:hover {
  background-color: transparent;
}
ul#dropdown2 li {
  padding: 5px;
  line-height: 2.5rem;
}
ul#dropdown2 li.divider {
  padding: 0;
}
ul#dropdown2 li img {
  width: 40px;
}
ul#dropdown2 li a {
  width: 245px;
  font-size: 12px;
  color: #333;
  padding: 5px;
}
ul#dropdown2 li.see-all {
  text-align: center;
}
.active-info {
  font-weight: bold;
}
.pushedtime {
  color: #777;
  font-weight: normal;
  font-size: 80%;
}
.collapsible-header.collection-item.avatar.active .pushedtime {
  color: #fff;
}

span.badge.new {
  background-color: red;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  line-height: 2.5;
  min-width: 12px;
  padding: 0;
  margin-left: -14px;
  border: 3px solid #08233E;
}
span.badge.new::after {
    content: "a";
}
ul#dropdown3, ul#dropdown4 {
  position: absolute;
  background: #fff;
  margin-top: 0;
  border: 1px solid #D9DEE4;
  -webkit-box-shadow: none;
  right: 0;
  left: auto;
  top: 64px !important;
}
ul#dropdown3 li > a, ul#dropdown4 li > a {
  color: #333;
  font-size: .9rem;
}

@media screen and (max-width:992px) {
  span.badge.new {
    line-height: 3;
    margin-left: -19px;
    display: inline-block;
    float: none;
  }
}
.adjusty-extended-nav span.badge {
  margin-left: 14px;
  text-align: center;
  font-size: .8rem;
  line-height: 20px;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  min-width: 1px;
  float: none;
}
.side-nav .userView .circle {
  background-color: #ddd;
}
.message {
  padding: 15px;
  margin: 3.5rem auto;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
.success {
  background-color: #28E1BD;
  color: #fff;
}
.error {
  background-color: #eb2142;
  color: #fff;
}
.hidden {
  display: none!important;
}
.message i.right {
  line-height: 1;
  cursor: pointer;
  font-size: 100%;
}
.dropdown-content li > a {
  color: #039be5;
}
.userView {
  background-color: rgba(0,0,0,.4);
}
/*----- Lp -----*/
.btn-lp {
	display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
  background-color: transparent;
  border: 2px solid #26a69a;
  color: #26a69a;
  line-height: 50px;
}
.btn-lp::before,
.btn-lp::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.btn-lp,
.btn-lp::before,
.btn-lp::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn-lp:hover {
	background-color: rgb(38, 166, 154);
  color: #fff;
}
nav .btn-lp {
  width: 130px;
  height: 36px;
  line-height: 32px;
}
.lp-pr0 {
  padding: 2rem 0;
}
.lp-pr0 h3 {
  margin: 0 0 1.168rem 0;
  font-size: 2rem;
}
.pc-center-align {
  text-align: center;
}

@media only screen and (max-width:992px) {
  nav .btn-lp {
    width: 90%;
    height: 42px;
    line-height: 40px;
    margin: 0 auto;
  }
  .lp-pr0 h3 {
    font-size: 1.5rem;
  }
  .pc-center-align {
    text-align: justify;
  }
}
.lp-pr1 {
  background-color: #2C5379;
  color: #fff;
}
.lp-pr1 .row {
  margin-bottom: 0;
}
.lp-pr1-box1 {
  height: 300px;
  position: relative;
}
.lp-pr1-box2 {
  height: 300px;
}
.lp-pr1-box1 img {
  margin: 0 auto;
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0%);
  -moz-transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
  -o-transform: translate(-50%,0%);
  transform: translate(-50%,0%);
}
@media screen and (max-width:700px) {
  .lp-pr1-box img {
    width: 80%;
  }
}
@media screen and (max-width:600px) {
  .lp-pr1-box img {
    width: 80%;
  }
}
.lp-pr2 {
  background-color: #fff;
  padding: 40px 0;
  position: relative;
}
.lp-pr2::after {
  position: absolute;
  top: 100%;
	left: 0;
  right: 0;
  margin: 0 auto;
	content: '';
	width: 100px;
	height: 0;
	border: 140px solid transparent;
	border-top: 50px solid #fff;
}
.lp-pr3 {
  background-color: #f5f5f5;
  padding: 40px 0;
}
.lp-pr3-p {
  margin-bottom: 2rem;
}
.lp-pr3-box {
  background-color: #fff;
}
.lp-pr3-box-upper {
  background-color: #2C5379;
  height: 150px;
}
.lp-pr3-box-lower {
  padding: 1rem;
  height: 215px;
}
.lp-pr4 {
  background:#ddd url('/webroot/img/lp_back.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 40px 0;
}
.lp-pr4-box1 {
  height: 650px;
  text-align: center;
}
.lp-pr4-box1 img {
  height: 100%;
}
.lp-pr4-box2 {
  height: 650px;
}
.lp-pr4-box2 h4 {
  margin-bottom: 1.5rem;
}
.lp-pr4-box2 p {
  line-height: 1rem;
}
.how-it-works-list {
  margin: 30px auto 40px;
}
.how-it-works-list h5 {
  font-size: 1.4rem;
}
.how-it-works-list p {
  line-height: 1.4rem;
  padding-left: 36px;
  margin-bottom: 2rem;
}
.how-it-works-list i.small {
  font-size: 1.4rem;
}
.lp-pr5 {
  background-color: #f5f5f5;
}
.lp-pr5 h4 {
  margin-bottom: 5rem;
}
.lp-pr5-box {
  background-color: #fff;
  padding: 3rem 1.2rem 2.5rem;
  position: relative;
}
.lp-pr5-box h5 {
  font-size: 1.2rem;
}
.nums {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: -35px;
  background-color: #2C5379;
  color: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 2rem;
}
.lp-pr5-icon {
  margin: 15px auto;
  width: 40%;
}
.sunshade {
  color: #F8823C;
}
.venice {
  color: #2C5379;
}
ul.checkList-box {
  border: 2px solid #08233E;
  padding: 20px 60px;
}
.checkList-box li {
  line-height: 32px;
}
footer.lp-footer {
  padding-top: 40px;
  background-color: #2C5379;
}
.lp-footer .container .row {
  margin-left: 0;
  margin-right: 0;
}
.lp-footer form button {
  font-size: 1.2rem;
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .lp-pr3-box-lower {
    height: 300px;
  }
}
@media only screen and (min-width: 993px) {
  .lp-pr3-box-lower {
    height: 255px;
  }
  .lp-pr4-box2 {
    height: 745px;
  }
}

/*----- Login Top -----*/
.indicator {
  border-bottom: 3px solid #fff;
}
.section-start {
  margin-top: 48px;
}
.adjusty-extended-nav {
  background-color: #08233E;
  text-align: center;
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 996;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 601px) {
  .adjusty-extended-nav {
    top: 64px;
  }
}
.adjusty-extended-nav .row {
  margin-bottom: 0;
}

.adjusty-extended-nav a {
  line-height: 2rem;
  color: #fff;
  display: block;
}
.topBox {
  min-height: 74vh;
  margin-top: 45px;
}

/*----- Smart phone -----*/
@media screen and (max-width : 992px) {
  .sp-h1 {
    font-size: 2.28rem;
    line-height: 100%;
  }
  .sp-h2 {
    font-size: 1.64rem;
  }
  .lp-pr2::after {
    width: 50px;
    border: 100px solid transparent;
    border-top: 40px solid #fff;
  }
  ul.checkList-box {
    padding: 20px 5px;
  }
  .checkList-box i.left {
    margin-right: 10px;
  }
  .lp-pr3-box {
    margin-bottom: 15px;
  }
  .lp-pr4-box1 {
    height: 450px;
  }
  .lp-pr4-box2 {
    height: auto;
  }
  .lp-pr4-box1 img {
    height: 90%;
  }
  .lp-pr5-box {
    margin-bottom: 60px;
  }
}

/*----- Login, Logout, Entry page common-----*/
.entryBox, .loginBox, .logoutBox, .remindBox, .forgotBox {
  min-height: 77vh;
}
.mypageBox, .planBox, .plandetailBox {
  min-height: 83vh;
}
.planBox, .plandetailBox {
  margin-top: 30px;
}
.pad {
  padding: 0 0.75rem;
}
/*----- Entry page -----*/
.entryBox p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}
.entryBox ul {
  padding-left: 1.5rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.entryBox ul li {
  margin-bottom: 1rem;
}
.entryBox ul li i {
  padding-right: 1rem;
}

/*----- Logout page -----*/
.logoutBox p {
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

/*----- Login page -----*/
.loginBox ul {
  padding-left: 1.5rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.loginBox ul li {
  margin-bottom: 1rem;
}
.loginBox ul li i {
  padding-right: 1rem;
}

/*----- Forgot page -----*/
@media screen and (max-width : 992px) {
  .remindBox .sp-h1 {
    font-size: 2rem
  }
}
.remindBox p {
  padding-left: 1.5rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}
.remindBox ul {
  padding-left: 1.5rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.remindBox ul li {
  margin-bottom: 1rem;
}
.remindBox ul li i {
  padding-right: 1rem;
}
/*----- Tos -----*/
.tosBox {
  width: 70%;
  margin: 20px auto;
}
.tosBox h1 {
  font-size: 2rem;
  margin-bottom: 40px;
}
.tosBox h3 {
  font-size: 1.5rem;
}
/*----- Howtouse -----*/
.howtouseBox {
  min-height: 60vh;
  width: 70%;
  margin: 50px auto;
}
.howtouseBox h2 {
  font-size: 3rem;
}
@media screen and (max-width : 600px) {
  .howtouseBox {
    width: 95%;
  }
  .howtouseBox h2 {
    font-size: 2.5rem;
  }
}

/*----- Logintop -----*/
.event-btn {
  line-height: 7rem;
  width: 10rem;
  height: 7rem;
  padding: 0;
  background-color: #eee;
  color: #333;
}
.event-btn:hover, .event-btn:focus, .event-btn:visited {
  background-color: #eee;
  color: #333;
}
.eventcreat-btn {
  background-color: #26a69a;
  color: #fff;
}
.eventcreat-btn:hover, .eventcreat-btn:focus, .eventcreat-btn:visited {
  background-color: #26a69a;
  color: #fff;
}
.planBox .collapsible {
  margin: 0 auto;
}
.noplan {
  margin-top: 30px;
}
.fixed-action-btn {
  right: 24px;
  bottom: 45px;
  z-index: 995;
}
.planlists-inner {
  padding: 0 2rem 2rem 2rem;
}
.edit-btn {
  margin-bottom: .5rem;
}
.delete-btn, .delete-btn:hover,
.delete-btn:focus, .delete-btn:visited {
  background-color: #ddd;
  color: #777;
}
.back-btn, .back-btn:hover,
.back-btn:focus, .back-btn:visited {
  background-color: #fff;
  color: #333;
  box-shadow: none;
  padding: 0;
}
.back2-btn, .back2-btn:hover,
.back2-btn:focus, .back2-btn:visited {
  background-color: #ddd;
  color: #333;
}
.modal-action.modal-close.waves-effect.waves-green.btn.back2-btn {
  margin-right: 6px;
}
.collection {
  border: none;
  border-radius: 0;
}
.collection .collection-item {
  border-bottom: none;
}
.collapsible {
  box-shadow: none;
}
.collection .collection-item.active {
  background-color: #2C5379;
  color: #fff;
}
ul.collection.collapsible {
  border-top: 1px solid #ddd;
}
.collection.collapsible li {
  border: 1px solid #ddd;
  margin-top: -1px;
}
.collection.collapsible li.active {
  border: none;
}
.collection.collapsible li.active .collapsible-body {
  border: 1px solid #ddd;
}
.collapsible-header {
  border-bottom: none;
}
.secondary-content {
  color: #08233E;
}
.dropdown-button i {
  color: #fff;
}
.planBox .event-step {
  font-size: 1rem;
  margin-bottom: 0;
}
.planBox .planlists {
  padding: 0;
}


/*----- Mypage -----*/
.mypageBack {
  /*position: relative;*/
  height: 200px;
  width: 100%;
  margin: 20px auto;
}
.mypageBack img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.mypageBack-edit {
  height: 200px;
  width: 100%;
  margin: 20px auto;
}
.mypageBack-edit img {
  height: 200px;
  width: 100%;
}
.mypageImg {
  height: auto;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  z-index: 2;
}
.mypageImg img {
  height: 125px;
  width: 125px;
  border: 3px solid #fff;
  background-color: #ddd;
}
.profBox-light {
  padding: 10px;
  margin: 30px auto 0;
  width: 95%;
}
.profBox-light a {
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  padding: 5px 7px 5px 5px;
}
.profBox-relative {
  position: relative;
  padding: 10px;
}
.profBox-absolute {
  position: absolute;
  top: -25px;
  right: -5px;
  z-index: 3;
}
.profBox-text {
  line-height: 1rem;
  margin-bottom: 3px;
}
.mypagetable {
  padding: 10px;
  margin: 0 auto;
  width: 95%;
}
.friendpagetable {
  padding: 10px;
  margin: 70px auto 0;
  width: 95%;
}
.mypageBox .center-align button {
  margin: 0 auto 20px;
}
@media only screen and (max-width: 600px) {
  .mypageBack {
    margin: 0 auto 20px;
  }
  .mypageImg {
    top: 200px;
  }
}
/*----- Profile -----*/
.profile-inner-box {
  width: 90%;
  height: auto;
  margin-top: 60px;
}
.p-imgBox {
  width:160px;
  height: 160px;
  margin: 1rem auto;
  position: relative;
}
.p-imgBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: #ddd;
  border: 1px solid #ccc;
}
/*----- Event page common -----*/
.eventBox, .eventcompBox {
  min-height: 79vh;
  width: 95%;
  margin: 0 auto;
}
.fc button {
  padding: 0 1.2rem !important;
  border: 1px solid #777;
  background-color: #fff;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
}
.fc-left button:focus, .fc-right button:focus {
  background-color: #2C5379 !important;
  color: #fff !important;
}
.fc-state-active {
  background-color: #2C5379 !important;
  color: #fff !important;
}
.fc-state-disabled {
  opacity: .3 !important;
}
.fc-center {
  margin: 0 auto;
  line-height: 31.5px;
  height: 29.3px;
  padding: 6px 0;
}
.fc-center h2 {
  font-size: 1.2rem;
}
.fc-left button:focus,
.fc-right button:focus {
  background-color: #ddd;
}
.fc-view-container {
  font-size: .8em;
}
.fc-view-container thead {
  border-bottom: none !important;
}
.fc-toolbar.fc-header-toolbar {
  margin-bottom: 2em !important;
}
.fc-unthemed td.fc-today {
  background: #9fa8da;
}
.fc td, .fc th {
  border-style: none;
}
.fc-widget-header {
  border: none !important;
}
.fc-day-top td {
  border-top: 1px solid #ddd;
}
.fc td.fc-today {
  border-style: none;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: none;
}
.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  text-align: center;
}
/*.fc-content-skeleton {
  border-top: 1px solid #ddd !important;
}*/
.fc-day-top.fc-fri.fc-today.fc-state-highlight {
  background-color: #9fa8da;
}
.fc-day.fc-widget-content.fc-sun.fc-today.fc-state-highlight,
.fc-day.fc-widget-content.fc-mon.fc-today.fc-state-highlight,
.fc-day.fc-widget-content.fc-tue.fc-today.fc-state-highlight,
.fc-day.fc-widget-content.fc-wed.fc-today.fc-state-highlight,
.fc-day.fc-widget-content.fc-thu.fc-today.fc-state-highlight,
.fc-day.fc-widget-content.fc-fri.fc-today.fc-state-highlight,
.fc-day.fc-widget-content.fc-sat.fc-today.fc-state-highlight {
  background-color: #f5f5f5;
}
div.fc-scroller::-webkit-scrollbar-track {
  background-color: #fff !important;
}
.fc-day-header.fc-widget-header {
  height: 23px;
  line-height: 23px;
}
.fc-unthemed td {
  border-color: #9a9a9a !important;
}
.fc-unthemed .fc-divider {
  background: #2C5379 !important;
}
.fc-month-view td, .fc-month-view th {
  border-left: none !important;
  border-right: none !important;
}
.fc-month-view td.fc-today {
  border-left: none;
  border-right: none;
}
.fc-body {
  border: 1px solid #9a9a9a !important;
}

@media screen and (max-width:600px) {
  .fc-center {
    margin:0 auto 5px;
  }
  .fc-toolbar .fc-left {
    margin-bottom: 5px;
  }
  .fc-toolbar .fc-right{
    position: fixed;
    top: 87px;
    left: 0;
    z-index: 3;
    width: 101%;
    height: 50px;
    float: none !important;
  }
  .fc-toolbar .fc-right .fc-button-group {
    width: 100%;
    height: 90%;
    display: block;
  }
  .fc-toolbar .fc-right .fc-button-group button {
    width: 25%;
    height: 100%;
    border-radius: 0;
  }
  .fc-toolbar .fc-left {
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 1;
  }
  .fc-toolbar .fc-center {
    position: absolute;
    top: 150px;
    left: 5px;
    float: none;
    z-index: 1;
  }
  .fc-view-container {
    position: absolute;
    top: 190px;
    z-index: 1;
    width: 100%;
  }
  .page-footer {
    position: absolute;
    top: 600px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  /* Modal内カレンダー表示 */
  .modal-content .fc-toolbar .fc-right {
    top: 0;
  }
  .modal-content .fc-toolbar .fc-left {
    top: 60px;
  }
  .modal-content .fc-toolbar .fc-center {
    top: 60px;
  }
  .modal-content .fc-view-container {
    top: 100px;
  }
  .modal-footer {
    float: none;
    position: absolute;
    top: 520px;
    right: 0;
    z-index: 1;
  }
}
/*----- Event create page -----*/
.event-step {
  font-size: 1rem;
  padding: 5px 5px 5px 10px;
  border-left: 3px solid #08233E;
}
.eventBox .required {
  color: red;
  font-size: 80%;
}
.create-btn {
  margin-top: 3rem;
}
.create-btn button {
  width: 50%;
  height: 50px;
}
.events-copy-btn {
  padding: 0 1rem;
}
.events-copy-btn, .events-copy-btn:hover,
.events-copy-btn:focus, .events-copy-btn:visited {
  background-color: #2C5379;
}
.btn i.tiny {
  font-size: 1rem;
}
.events-delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .5rem;
  border: none;
}
.events-delete-btn, .events-delete-btn:hover,
.events-delete-btn:focus, .events-delete-btn:visited {
  background-color: #fff;
  color: #999;
  box-shadow: none;
  border-radius: 0;
}
#animatedModal .fc-toolbar.fc-header-toolbar{
  padding: 20px;
  margin-bottom: 0;
}
.modal-footer {
  float: right;
  padding: 20px;
}
@media only screen and (min-width: 601px) {
  #animatedModal {
    padding: 20px;
  }
  #animatedModal .modal-content {
    width: 70%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 993px) {
  #animatedModal {
    padding: 20px;
  }
  #animatedModal .modal-content {
    width: 50%;
    margin: 0 auto;
  }
}
.input-field label.active2 {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}
.addevent {
  padding: 25px;
  border: .5px dashed #777;
  text-align: center;
  color: #777;
  margin-bottom: 20px;
}
.addevent_indetail {
  padding: 20px;
}
/*----- Event thanks page -----*/
.completeCircle {
  width: 150px;
  height: 150px;
  margin: 3rem auto;
  border:3px solid #1de9b6;
  border-radius: 50%;
}
.incompleteCircle {
  width: 150px;
  height: 150px;
  margin: 3rem auto;
  border-radius: 50%;
}
.urlShare {
  margin: 1rem auto;
}
.url_copy_btn {
  background-color: #888;
  padding: 0 1rem;
  height: 40px;
  line-height: 40px;
}
#yourCode {
  padding-left: .5rem;
}
/*----- Event View -----*/
.planlists {
  padding: 8px;
}
.planlists-item {
  padding: 10px;
  margin: 0 auto;
  border: .5px solid #ddd;
}
.made-planlists-item {
  padding: 15px;
  margin: 8px auto;
  border: 1px solid #ddd;
  margin: 0;
}
.made-planlists-item .dropdown-button i {
  color: #ddd;
}
.planlists-item ul {
  border: .5px solid #ddd;
  border-radius: 8px;
  padding: 6px;
  max-width: 100px;
}
.made-planlists-item ul {
  border: 1px solid #ddd;
  padding: 6px;
}
.made-planlists-item ul li {
  text-align: center;
}
.planlists-item ul li:nth-child(2) {
  position: relative;
  height: 45px;
  width: 100%;
  line-height: 45px;
  margin: 0 auto;
  text-align: center;
}
.plan-date {
  position: absolute;
  bottom: 0;
  right: 0;
}
.num-mid {
  font-size: 1.4rem;
  font-weight: bold;
  margin: .5rem auto;
}
.eventBox .row .col {
  padding: 0;
}
.num-big {
  font-size: 1.8rem;
  font-weight: bold;
}
.slush-big {
  font-size: 4rem;
}
h4.etitle {
  font-size: 1.2rem;
  margin: 5px auto;
}
p.memo {
  padding-left: 8px;
}
/*----- Event User View -----*/
.planlists-item .row, .planlists-item input[type=text],
.made-planlists-item .row, .made-planlists-item input[type=text] {
  margin-bottom: 0;
}
.modal-font {
  font-size: 1.5rem;
}
.socials, .sendbymail {
  margin-bottom: 50px;
}
.socials {
  display: inline-flex;
}
.mail-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  line-height: 40px;
  margin-right: 1rem;
  box-shadow: none;
  background-color: #2C5379;
}

.mail-btn:hover {
  background-color: #2C5379;
}
.mail-btn:focus {
  background-color: #08233E;
}
.fb-send {
  margin-right: 1rem;
  height: 40px;
  background: linear-gradient(#0084ff, #006fff);
  line-height: 30px;
  border-radius: 4px;
}
.fb-send:hover {
  background: linear-gradient(#009bff, #0084ff);
}

@media screen and (max-width:600px) {
  .planDisc {
    width: 95%;
    margin: 0 auto;
  }
  .modal {
    width: 95%;
    max-height: 75vh;
  }
}

/*----- Addresslist -----*/
.addresslistBox {
  width: 50%;
  margin: 0 auto;
  min-height: 82.5vh;
}
.noaddress {
  padding: 150px 0;
}
.has-address ul.collection {
  border: 1px solid #e0e0e0;
}
.has-address ul.collection li.collection-item {
  border-bottom: 1px solid #e0e0e0;
}
.has-address .collection .collection-item.avatar .secondary-content {
  top: 9px;
  right: 9px;
}
.companyName {
  font-size: .8rem;
  color: #777;
}
.list-btn {
  margin-bottom: 5px;
  height: 30px;
  line-height: 30px;
  background-color: #eee;
  color: #333;
  font-size: .8rem;
}
.list-btn:hover, .list-btn:focus,
.list-btn:visited {
  background-color: #eee;
  color: #333;
}
@media screen and (max-width:992px) {
  .addresslistBox {
    width: 100%;
  }
}

/*----- Info page -----*/
.infoBox {
  min-height: 74vh;
  width: 95%;
  margin: 0 auto;
}
.infoBox h2 {
  font-size: 2rem;
}
.infoBox .collection {
  border-top: .5px solid #ddd;
  border-left: .5px solid #ddd;
  border-right: .5px solid #ddd;
}
.infoBox .collection li.collection-item {
  border-bottom: .5px solid #ddd;
}
.infoBox .collection li.collection-item a {
  color: #333;
}
.infoBox .btn-floating i {
  color: #777;
}

/*----- Event Edit -----*/
.planlists-item {
  position: relative;
}
.made-planlists-item {
  position: relative;
}
.plan-delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #bdbdbd;
}
.selected {
  background-color: #ddd;
}
.btns {
  padding: 2rem;
}
/*----- Setting page -----*/
.settingBox {
  min-height: 81vh;
}
.settingtable {
  padding: 10px;
  margin: 10px auto;
  width: 95%;
}
.settingBox td a, .mypageBox td a {
  line-height: 2rem;
  color: #000;
  display: block;
}
.mypageBox {
  width: 95%;
  margin: 0 auto;
}
.plandetailBox {
  width: 95%;
  margin: 30px auto;
}

/*----- Tablet -----*/
@media only screen and (min-width: 601px) {
  .settingBox, .loginBox,
  .logoutBox, .entryBox,
  .remindBox, .mypageBox, .forgotBox {
    width: 70%;
    margin: 0 auto;
  }
  .planBox {
    width: 70%;
    margin: 100px auto;
  }
  .plandetailBox {
    width: 70%;
    margin: 100px auto;
  }
  .topBox {
    width: 70%;
    margin: 100px auto;
  }
  .eventBox, .eventcompBox {
    width: 70%;
  }
  .eventcompBox {
    min-height: 110vh;
  }
  .message {
    width: 70%;
  }
  .has-plans {
    margin-top: 30px;
  }
  .fixed-action-btn {
    right: 30px;
    bottom: 70px;
  }
  h4.etitle {
    font-size: 1.2rem;
  }
  .infoBox {
    width: 70%;
    margin: 50px auto 0;
  }
  .infoBox h2 {
    font-size: 2rem;
  }
}
/* PC */
@media only screen and (min-width: 993px){
  .settingBox, .loginBox,
  .logoutBox, .entryBox,
  .remindBox, .forgotBox {
    width: 50%;
    margin: 50px auto 0;
  }
  .topBox {
    width: 50%;
    margin: 100px auto 0;
  }
  .eventBox, .eventcompBox {
    width: 50%;
  }
  .mypageBox, .planBox, .plandetailBox {
    width: 50%;
  }
  .message {
    width: 50%;
  }
  .has-plans {
    margin-top: 30px;
  }
  .fixed-action-btn {
    right: 65px;
    bottom: 70px;
  }
  h4.etitle {
    font-size: 1.2rem;
  }
  .infoBox {
    width: 50%;
    margin: 100px auto 0;
  }
}

/*----- Form Common -----*/
input:not([type]):disabled, input:not([type])[readonly="readonly"],
input[type=text]:disabled, input[type=text][readonly="readonly"],
input[type=password]:disabled, input[type=password][readonly="readonly"],
input[type=email]:disabled, input[type=email][readonly="readonly"],
input[type=url]:disabled, input[type=url][readonly="readonly"],
input[type=time]:disabled, input[type=time][readonly="readonly"],
input[type=date]:disabled, input[type=date][readonly="readonly"],
input[type=datetime]:disabled, input[type=datetime][readonly="readonly"],
input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"],
input[type=tel]:disabled, input[type=tel][readonly="readonly"],
input[type=number]:disabled, input[type=number][readonly="readonly"],
input[type=search]:disabled, input[type=search][readonly="readonly"],
textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
  color: inherit;
}
.deg-x-180 {
  transform: rotateY( 180deg );
}
.sort-links a {
  color: #333;
  font-size: .8rem;
}
.sort-links a.activelink {
  color: #999;
  pointer-events: none;
}
.adjusty-status {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 10px;
}
.adjusty-status i {
  font-size: .5rem;
  float: none;
  position: absolute;
  top: 9px;
  right: 10px;
  line-height: 1;
}
.statusList.collection .collection-item.avatar {
  padding-left: 110px;
}
.collapsible-header i.plan_arrow {
  position: absolute;
  left: 10px;
  font-size: 1rem;
}
.collection.statusList .collection-item.avatar .circle {
  left: 50px;
}
.statusList.collection .collection-item.avatar .secondary-content {
  right: 50%;
  left: 50%;
  top: 50px;
}
@media screen and (max-width:992px) {
  .statusBox {
    padding-top: 15px;
    width: 95%;
    font-size: .8rem;
  }
  .statusList.collection .collection-item.avatar .title {
    font-size: 14px;
  }
}
/* Test */
